.wrapper {
  margin-top: 20px;
  text-align: center;
}

.wrapper label {
  margin-right: 15px;
}

.wrapper input {
  width: 250px;
  background-color: white;
}

.wrapper > button {
  margin-left: 15px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

@media screen and (max-width: 575px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper label,
  .wrapper input,
  .wrapper > button {
    flex-basis: 100%;
  }

  .wrapper label {
    margin: 0;
  }

  .wrapper > button {
    margin: 10px 0 0;
  }
}
