.meta-wrapper {
  position: relative;
  display: inline-block;
}

.wrapper {
  position: relative;
  /* width: 600px;
  height: 600px; */
  border-radius: 50%;
  overflow: hidden;
  transition: transform 10s;
  margin: 0 auto;
}

.mark {
  width: 0;
  height: 0;
  border-top: none;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 35px solid white;
  position: absolute;
  bottom: -37px;
  left: 50%;
  transform: translateX(-50%);
}

.triangle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  background-color: transparent;
}

.triangle > div {
  color: white;
  margin-top: 120px;
  position: absolute;
  top: 0px;
  left: 0;
  text-align: center;
  transform: translateX(-50%);
}

@media screen and (max-width: 1199px) {
  .triangle > div {
    margin-top: 85px;
  }
}

@media screen and (max-width: 991px) {
  .triangle > div {
    margin-top: 65px;
  }
}

@media screen and (max-width: 767px) {
  .meta-wrapper {
    flex-basis: 100%;
  }
}
